body {
    background-color: #ffe5ac;
}

img {
    filter: opacity(90%);
    border: 4pt double black;
}

h1,
h2,
h3 {
    font-family: 'Georgia', Times, serif;
}

h2,
h3 {

    font-variant: small-caps;
    overflow: hidden;
    text-align: center;
}


h3::before,
h3::after {
    /* Horizontal line surrounding header text */
    /* adopted from https://stackoverflow.com/a/14731123 */
    background-color: #000;
    content: "";
    display: inline-block;
    height: 0.5pt;
    position: relative;
    vertical-align: middle;
    width: 50%;
}


h3:before {
    right: 0.5em;
    margin-left: -50%;
}


h3:after {
    left: 0.5em;
    margin-right: -50%;
}


.chapter>p:first-of-type::first-letter {
    font-size: 2em;
}