:root {
    --main-bg-color: #ffe5ac;
}

body {
    background-color: var(--main-bg-color);
}

img {
    filter: opacity(90%);
    border: 4pt double black;
    filter: drop-shadow(-3px 3px 8px #a79775)
}

h1,
h2,
h3 {
    font-family: 'Georgia', Times, serif;
}

h2,
h3 {

    font-variant: small-caps;
    overflow: hidden;
    text-align: center;

}


h3::before,
h3::after {
    /* Horizontal line surrounding header text */
    /* adopted from https://stackoverflow.com/a/14731123 */
    background-color: #000;
    content: "";
    display: inline-block;
    height: 0.5pt;
    position: relative;
    vertical-align: middle;
    width: 50%;
}


h3:before {
    right: 0.5em;
    margin-left: -50%;
}


h3:after {
    left: 0.5em;
    margin-right: -50%;
}


/* give the first letter of the first paragraph in each chapter a larger font size,  */
/*excluding any already formatted text (e.g. intro text, subtitles ,etc) */
.chapter>p:not([class], [style]):nth-of-type(1):first-letter,
/* The first letter of an unformatted p after the first formatted p in a chapter */
.chapter>p[class]:nth-of-type(1)+p:not([class], [style]):first-letter,
.chapter>p[style]:nth-of-type(1)+p:not([class], [style]):first-letter,
/* The first letter of the first unformatted p after an , in case the chapter class isn't used */
h3+p:not([class], [style]):first-letter {
    font-size: 250%;
    font-weight: bold;
    text-shadow: tan -5px 2px 2px;
}


hr:after {
    /* adapted from MDN: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/hr */
    background: var(--main-bg-color);
    content: '⁂';
    padding: 0 2pt;
    position: relative;
    top: -0.7em;
}

hr {
    border: none;
    border-top: 0.2em double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 2pt;
}