body {
    background-color: #ffe5ac;
}

img {
    filter: opacity(90%);
    border: 4pt double black;
}

h1,
h2,
h3 {
    font-family: 'Georgia', Times, serif;
}

h3 {

    font-variant: small-caps
}


/* .chapter p:first-of-type::first-letter {
    font-size: 2em;
} */